---
layout: 'default'
active: /activities
---

<div class="events">
	<div class="navbar-padding color-overlay"></div>

	<div class="container vertical-pad">

		<div class="row vertical-pad-bottom">
			<div class="col text-center">
				<h2>What happens at a KHD?</h2>
			</div>
			<div class="w-100"></div>
			<div class="col"></div>
			<div class="col-md-8">
				<p>
					Whether you’re into computers, arts, music, science the combined personal interests of you 
					and your team will of course affect the theme of your event. What happens at a Kids Hack Day 
					is not constrained to specific topics and can really incorporate anything (also see “what 
					happens at a khd event”). While the focus is on technology hacking is really all about a mindset. 
					All Kids Hack Day events are unified through this hacker mindset. A shared belief that if we 
					can invoke the little hacker inside all of us, the world would be a much better place.

				</p>
			</div>
			<div class="col"></div>
		</div>

		<div class="row items-list vertical-pad-bottom">
				{% for activity in site.data.activities %}
					<div class="col-md-4 item">
						<p>
							<a href="#">
								<img width="100%" src="{{site.url}}/{{activity.image}}" alt="{{activity.title}}">
							</a>
						</p>
						<h4>
							<a href="#">
								{{activity.title}}
							</a>
						</h4>
					</div>
				{% endfor %}
		</div>

		<div class="row">
			<div class="col text-center">
				<h2>Tools and partners</h2>
			</div>
		</div>
		<div class="row vertical-pad-bottom">
			<div class="col"></div>
			<div class="col-md-8 text-center">
				<h5>
					Read about our amazing partners and become one yourself! Are you passionate about 21st 
					century skills and empowering kids to become makers of their own future? Do you sell 
					physical and/or digital products that enables kids to do exactly this but are struggling 
					to build a global community with people that can expand your vision? Then you have come 
					to the right place! Kids Hack Day welcomes partners who shares our values and strive 
					towards the same goals. Together we can achieve great things! Read more about our partner 
					program here. <p><b>Global partners:</b> <&nbsp> Quirkbot, Strawbees, Creatubbles</p>
				</h5>
			</div>
			<div class="col"></div>
		</div>
		{% for partner in site.data.partners %}
			<div class="row items-list vertical-pad-bottom">
				<div class="col-md-5 col-lg-3 offset-lg-1">
					<p>
						<a href="{{partner.link}}" target="_blank">
							<img width="100%" src="{{site.url}}/{{partner.image}}" alt="{{partner.name}}">
						</a>
					</p>
				</div>
				<div class="col-md-7">
					<h4>
						<a href="{{partner.link}}" target="_blank">
							{{partner.name}}
						</a>
					</h4>
					<p>
						{{partner.text}}
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
