---
layout: 'default'
active: /activities
---

<div class="events">
	<div class="navbar-padding color-overlay"></div>

	<div class="container vertical-pad">

		<div class="row vertical-pad-bottom">
			<div class="col text-center">
				<h2>What happens at a KHD?</h2>
			</div>
			<div class="w-100"></div>
			<div class="col"></div>
			<div class="col-md-8">
				<p>
					Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
			    freegan kitsch 8-bit, brooklyn cliche bespoke activated.
			    Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
			    freegan kitsch 8-bit, brooklyn cliche bespoke activated.
			    Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
			    freegan kitsch 8-bit, brooklyn cliche bespoke activated.
			    Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
			    freegan kitsch 8-bit, brooklyn cliche bespoke activated.
			    Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
			    freegan kitsch 8-bit, brooklyn cliche bespoke activated.
			    Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
			    freegan kitsch 8-bit, brooklyn cliche bespoke activated.
				</p>
			</div>
			<div class="col"></div>
		</div>

		<div class="row items-list vertical-pad-bottom">
				{% for activity in site.data.activities %}
					<div class="col-md-4 item">
						<p>
							<a href="#">
								<img width="100%" src="{{site.url}}/{{activity.image}}" alt="{{activity.title}}">
							</a>
						</p>
						<h4>
							<a href="#">
								{{activity.title}}
							</a>
						</h4>
					</div>
				{% endfor %}
		</div>

		<div class="row">
			<div class="col text-center">
				<h2>Tools and partners</h2>
			</div>
		</div>
		<div class="row vertical-pad-bottom">
			<div class="col"></div>
			<div class="col-md-8 text-center">
				<h5>
					Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
				  freegan kitsch 8-bit, brooklyn cliche bespoke activated.
				  Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
				  freegan kitsch 8-bit, brooklyn cliche bespoke activated.
				  Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
				  freegan kitsch 8-bit, brooklyn cliche bespoke activated.
				  Gentrify kinfolk letterpress PBR&B, vape chia. Polaroid synth
				  freegan kitsch 8-bit, brooklyn cliche bespoke activated.
				</h5>
			</div>
			<div class="col"></div>
		</div>
		{% for partner in site.data.partners %}
			<div class="row items-list vertical-pad-bottom">
				<div class="col-md-5 col-lg-3 offset-lg-1">
					<p>
						<a href="{{partner.link}}" target="_blank">
							<img width="100%" src="{{site.url}}/{{partner.image}}" alt="{{partner.name}}">
						</a>
					</p>
				</div>
				<div class="col-md-7">
					<h4>
						<a href="{{partner.link}}" target="_blank">
							{{partner.name}}
						</a>
					</h4>
					<p>
						{{partner.text}}
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
