---
layout: 'default'
active: /
---
<div class="home">
	<div class="container-fluid">
		<div class="row header color-overlay align-items-center">
			<div class="col"></div>

			<div class="col-lg-6 text-center">
				<h1>Kids Hack Day</h1>
				<h4>
					Let's empower kids to change the world. <br>
					One hack day at a time.
				</h4>
				<p>
					<a class="khd-btn khd-btn-outline" href="{{site.url}}/about">
						Read More
					</a>
				</p>
			</div>

			<div class="col"></div>
		</div>
	</div>

	<div class="container vertical-pad">
		<div class="row">
			<div class="col text-center">
				<h2>Events</h2>
			</div>
		</div>
		<div class="row items-list">
				{% for event in site.data.events %}
					{% if forloop.index <= 3 %}
						<div class="col-md item">
							<p>
								<a href="#">
									<img width="100%" src="{{site.url}}/{{event.image}}" alt="{{event.title}}">
								</a>
							</p>
							<h4>
								<a href="#">
									{{event.title}}
								</a>
							</h4>
							<p>
								{{event.date}}
							</p>
						</div>
					{% endif %}
				{% endfor %}
		</div>
		<div class="row text-center">
			<div class="col">
				<a class="khd-btn khd-btn-fill" href="{{site.url}}/events">More events</a>
			</div>
		</div>
	</div>

	<div class="metrics color-overlay">
		<div class="container vertical-pad">
			<div class="row text-center">
				<div class="col">
					<h2>Achievements</h2>
				</div>
			</div>
			<div class="row text-center">
				{% for metric in site.data.achievements %}
					<div class="col-md vertical-pad">
							<p>
								<i class="fa {{metric.icon}}"></i>
							</p>
							<h5>
								{{metric.text}}
							</h5>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="container vertical-pad">
		<div class="row text-center">
			<div class="col">
				<h2>What happens at a KHD?</h2>
			</div>
		</div>
		<div class="row items-list">
			{% for activity in site.data.activities %}
				{% if forloop.index <= 6 %}
					<div class="col-md-4 item">
						<p>
							<a href="#">
								<img width="100%" src="{{site.url}}/{{activity.image}}" alt="{{activity.title}}">
							</a>
						</p>
						<h4>
							<a href="{{activity.link}}">
								{{activity.title}}
							</a>
						</h4>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="row text-center">
			<div class="col">
				<a class="khd-btn khd-btn-fill" href="{{site.url}}/activities">See more</a>
			</div>
		</div>
	</div>

</div>
