---
layout: 'default'
---

<div class="container-fluid">
	<div class="row header color-overlay align-items-center">
		<div class="col"></div>
		<div class="col-6 text-center">
			<h1>{{site.data.home.header.title}}</h1>
			<h4>{{site.data.home.header.description}}</h4>
			<!--
			<p>
				<a class="btn btn-primary" href="{{site.data.home.header.button.link}}">
					{{site.data.home.header.button.text}}
				</a>
			</p>
			-->
		</div>
		<div class="col"></div>
	</div>
</div>

<div class="container vertical-pad">
	<div class="row">
		<div class="col text-center">
			<h2>Events</h2>
		</div>
	</div>
	<div class="row events">
			{% for event in site.data.events.events %}
				{% if forloop.index <= 3 %}
					<div class="col-md event">
						<p>
							<a href="#">
								<img width="100%" src="{{site.url}}/{{event.image}}" alt="{{event.title}}">
							</a>
						</p>
						<h4>
							<a href="#">
								{{event.title}}
							</a>
						</h4>
						<p>
							{{event.date}}
						</p>
					</div>
				{% endif %}
			{% endfor %}
	</div>
	<!-- <div class="row text-center">
		<div class="col">
			<a class="btn btn-primary" href="/events">More events</a>
		</div>
	</div> -->
</div>

<div class="metrics color-overlay">
	<div class="container vertical-pad">
		<div class="row text-center">
			<div class="col">
				<h2>{{site.data.home.metrics.title}}</h2>
			</div>
		</div>
		<div class="row text-center">
			{% for metric in site.data.home.metrics.items %}
				<div class="col-md vertical-pad">
						<p>
							<i class="fa {{metric.icon}}"></i>
						</p>
						<h5>
							{{metric.text}}
						</h5>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
