---
layout: 'default'
---

<div class="organize">
	<div class="container-fluid">
		<div class="row header color-overlay align-items-center">
			<div class="col"></div>

			<div class="col-6 text-center">
				<h1>{{site.data.organize.header.title}}</h1>
				<h4>{{site.data.organize.header.description}}</h4>
				<p>
					<a class="khd-btn khd-btn-outline" href="{{site.url}}{{site.data.organize.header.button.link}}">
						{{site.data.organize.header.button.text}}
					</a>
				</p>
			</div>

			<div class="col"></div>
		</div>
	</div>

	<div class="container vertical-pad">
		<div class="row">
			<div class="col">
				<h2>{{site.data.organize.how.title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col-md-10">
				<div class="video-container">
					<iframe width="540" height="315" src="https://www.youtube.com/embed/{{site.data.organize.how.youtubeId}}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row vertical-pad">
			<div class="col"></div>
			<div class="col-md-8">
				<p>
					{{site.data.organize.how.text}}
				</p>
			</div>
			<div class="col"></div>
			<div class="w-100"></div>
			<div class="col text-center">
				<a class="khd-btn khd-btn-fill" href="{{site.url}}{{site.data.organize.header.button.link}}">
					{{site.data.organize.header.button.text}}
				</a>
			</div>
		</div>
	</div>

	<div class="container vertical-pad">
		<div class="row text-center">
			<div class="col">
				<h2>{{site.data.activities.title}}</h2>
			</div>
		</div>
		<div class="row items-list">
			{% for activity in site.data.activities.items %}
				{% if forloop.index <= 6 %}
					<div class="col-md-4 item">
						<p>
							<a href="#">
								<img width="100%" src="{{site.url}}/{{activity.image}}" alt="{{activity.title}}">
							</a>
						</p>
						<h4>
							<a href="{{activity.link}}">
								{{activity.title}}
							</a>
						</h4>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="row text-center">
			<div class="col">
				<a class="khd-btn khd-btn-fill" href="{{site.url}}/activities">See more</a>
			</div>
		</div>
	</div>
</div>
