---
layout: 'default'
---

<div class="who-we-are">
	<div class="navbar-padding color-overlay"></div>

	<div class="container vertical-pad">
		<div class="row">
			<div class="col">
				<h2>Our amazing organizers</h2>
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col-md-8">
				<p>
					Kids Hack Day is enabled by passionate people from all walks of life
					all over the world who shares our values and vision. For anyone who
					have organized a Kids Hack Day event and want to take a lead role in
					supporting their local community of organizers we have created an
					ambassador program. To read about what other ambassadors are saying
					see the testimonials below. If you want to become an ambassador
					yourself please apply here by contacting
					<a href="mailto:mcarl@kidshackday.com" target="_blank">carl@kidshackday.com</a>
				</p>
			</div>
			<div class="col"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h2>Testimonials</h2>
			</div>
		</div>
		{% for testimonial in site.data.whoweare.testimonials %}
			<div class="row items-list vertical-pad">
				<div class="col-md-5 col-lg-3 offset-lg-1">
					<p>
						<a href="{{testimonial.link}}" target="_blank">
							<img width="100%" src="{{site.url}}/{{testimonial.image}}" alt="{{testimonial.name}}">
						</a>
					</p>
				</div>
				<div class="col-md-7">
					<h4>
						<a href="{{testimonial.link}}" target="_blank">
							{{testimonial.name}}
						</a>
					</h4>
					<p>
						{{testimonial.text}}
					</p>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h2>Founders, volunteers, organizers</h2>
			</div>
		</div>
		<div class="row items-list vertical-pad">
			{% for people in site.data.whoweare.people %}
				<div class="col-md-3 item">
					<p>
						<a href="{{people.link}}" target="_blank">
							<img width="100%" src="{{site.url}}/{{people.image}}" alt="{{people.name}}">
						</a>
					</p>
					<h4>
						<a href="{{people.link}}" target="_blank">
							{{people.name}}
						</a>
					</h4>
					<p>
						{{people.role}}
					</p>
				</div>
			{% endfor %}
			<div class="w-100"></div>
			<div class="col text-center">
				<a class="khd-btn khd-btn-fill" href="{{site.url}}/organize">
					Join this list
				</a>
			</div>
		</div>
	</div>

</div>
