---
---

// VARIABLES
//// COLORS
$white: #ffffff;
$grey-light: #dedede;
$grey: #303030;
$grey-dark: #404040;
$yellow: #fde153;

//// SIZES
$base-line: 18px;
$font-huge: 100px;
$font-header1: 72px;
$font-header2: 32px;
$font-header3: 22px;
$font-header4: 22px;
$font-header5: 18px;
$font-body: 16px;
$font-menu: 14px;

// ------------
body {
	-webkit-font-smoothing: antialiased;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans', sans-serif;
	color: $grey;
}

h1 {
	font-size: $font-header1;
	line-height: 1.3em;
	letter-spacing: 0em;
	font-weight: 300;
}

h2 {
	font-size: $font-header2;
	line-height: 1.8em;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 1em;
}

h3 {
	font-size: $font-header3;
	line-height: 1.5em;
	font-weight: bold;
}

h4 {
	font-size: $font-header4;
	line-height: 1.5em;
	font-weight: normal;
}

h5 {
	font-size: $font-header5;
	line-height: 1.5em;
	font-weight: normal;
}

body {
	font-size: $font-body;
	line-height: 1.3em;
	letter-spacing: 0.05em;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	color: $grey-dark;
}

a:link,
a:hover,
a:active,
a:visited {
	color: $grey;
}
a:hover {
	text-decoration: underline;
}

// LAYOUT HELPERS
.color-overlay {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(8,0,26,.4);
		z-index: 0;
	}
	* {
		z-index: 10;
	}
}
.vertical-pad {
	padding-top: $base-line*2;
	padding-bottom: $base-line*2;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

// BUTTONS

a.khd-btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	padding: 1em 1.75em;
	line-height: 1em;
	margin: $base-line 0;
	-webkit-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
  -moz-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
  -ms-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
  -o-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
  transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
a.khd-btn:hover {
	text-decoration: none;
}

a.khd-btn-outline {
	border: 2px solid $yellow;
	color: $yellow;
}
a.khd-btn-outline:hover {
	text-decoration: none;
	color: $grey-dark;
	background: $yellow;
}

a.khd-btn-fill {
	background: $yellow;
}

// SECTIONS:

//// NAVBAR
.navbar {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	.nav-item {
		text-transform: uppercase;
		font-size: $font-menu;
		letter-spacing: 0.1em;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		.nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
			color: $grey-light;
		}
	}
}
.navbar-padding {
	position: relative;
	height: 95px;
	width: 100%;
	z-index: 0;
}

//// HEADER
.header {
	@media all and (max-width: 544px) {
		h1 {
			font-size: $font-header1*0.6;
		}
		h4 {
			font-size: $font-body;
		}
	}
	padding-top: 95px;
	height: calc(90vh - 95px);
	p {
		line-height: 2em;
	}
	* {
		color: $grey-light;
	}
}
.home .header {
	background: url('{{site.url}}{{site.data.home.header.background}}');
	background-repeat: no-repeat;
	background-size: cover;
}
.about .header {
	background: url('{{site.url}}{{site.data.about.header.background}}');
	background-repeat: no-repeat;
	background-size: cover;
}
.organize .header {
	background: url('{{site.url}}{{site.data.organize.header.background}}');
	background-repeat: no-repeat;
	background-size: cover;
}

//// METRICS
.metrics {
	position: relative;
	background: url('{{site.url}}{{site.data.home.metrics.background}}');
	background-repeat: no-repeat;
	background-size: cover;
	* {
		color: $grey-light;
	}
	.fa {
		font-size: 32px;
	}
}

//// GOALS
.goals {
	position: relative;
	background: url('{{site.url}}{{site.data.about.goals.background}}');
	background-repeat: no-repeat;
	background-size: cover;
	* {
		color: $grey-light;
	}
	.fa {
		font-size: 32px;
	}
}

//// EVENTS
.items-list {
	.item {
		text-align: center;
		margin-bottom: $base-line;
	}
}
