<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{{site.title}}</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{site.url}}/assets/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="{{site.url}}/assets/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" href="{{site.url}}/assets/main.css" media="screen" title="no title" charset="utf-8">

	</head>
	<body>
		{% include menu.html %}
		{{content}}
		{% include footer.html %}
		<script src="{{site.url}}/assets/js/jquery-3.1.1.slim.min.js"></script>
		<script src="{{site.url}}/assets/js/tether.min.js"></script>
		<script src="{{site.url}}/assets/bootstrap/bootstrap.min.js"></script>
	</body>
</html>
